# Preparing Data for Stylo

In this notebook I plan to ready a new set of data for Stylo. I will take a dataset that includes the information about the author, the name of the play ang the gender of characters, as well as their utterances.

The target dataset will be divided by play. However, the text of the characters' speach of said play will only be contained in two files, determined by the gender of its speaker. The important instance ia that there will bw no futher division, i.e. it will not be recorded who said certain words, only the gender will matter. All the text, attributed to female characters of a play will be contained in one file as a solid entity. The "male" text will be handled the same way. As a result, there will be two different files for each play, containing "male" and "female" words separately.

Next the files will be processed in Stylo. My hypothesis is such, that the files of the same play but different "gender" will be the closest, but still separated. Another possible outcome is that all the "male" parts written by the same author will be the closest stylistically speaking, on the next branch will be the "female" files of this author (will the genre matter?). I am hoping for the latter. Anyways, no matter the outcome, the programm will hopefully be able to provide us with some insight as to how particularly the text is influenced by the gender of its character.

Note: will the author or the genre make the plays closer(my odds are on the authors)?

## 0. Imports

Here I will import all the necessary python libraries. It is handy to have them all in one place.

In [1]:
import pandas as pd

## 1. Question #1

What should the minimum length of a character speech be, to become a part of the dataset? If, say, a character only utters a single word throughout a play? Should we count it in? My first suggestion is to use all the available text and think of editing if the results are not satisfactory. Then it will be preprocessed by a list of stop-words(right?).

## 2. Import the data

We have already created two nessery datasets, one contains speech of female characters and the other has the speech of the male ones. Let's have a quich look at them first.

So, let's import the data.

In [2]:
df_fem = pd.read_csv('data/df_fem.tsv', sep='\t', index_col=0)   #importing the female data
df_male = pd.read_csv('data/df_male.tsv', sep='\t', index_col=0) #importing thee male data

And now we should have a look at it to make sure everything is in order. Looks like it is!

In [3]:
df_fem.head() #having a look at the first fem rows

,ID,Gender,Text,play_name,t_clean,clean_len
0,vasilisa_petrovna,1,"Да вот думаю все.\nХолодно. Да, вот думаю все....",andreyev-ne-ubiy,да вот думаю все холодно да вот думаю все ты з...,5365
1,margarita,1,Вот и я к вам. Да милая ж вы моя Василиса Петр...,andreyev-ne-ubiy,вот и я к вам да милая ж вы моя василиса петро...,1175
2,gornichnaya,1,"Там двое к вам пришли, Василиса Петровна. Прик...",andreyev-ne-ubiy,там двое к вам пришли василиса петровна прикаж...,54
3,darya_stepanovna,1,"Что ж я буду врать? Сам виноват, чего ж раньше...",andreyev-ne-ubiy,что ж я буду врать сам виноват чего ж раньше н...,13
4,pervaya_dama,1,"Как здесь душно. Вы не находите?\nДа, удивител...",andreyev-ne-ubiy,как здесь душно вы не находите да удивительно ...,35

In [4]:
df_male.head() #having a look at the first male rows

,ID,Gender,Text,play_name,t_clean,clean_len
0,yakov,0,"Что задумались, Василиса Петровна? Я пришел.\n...",andreyev-ne-ubiy,что задумались василиса петровна я пришел ну д...,2713
1,kulabukhov,0,"Ага! Так, так! Салон и разговоры, свет и общес...",andreyev-ne-ubiy,ага так так салон и разговоры свет и общество ...,824
2,feofan,0,"Мир вам, братие и сестры. Где тут сидение покр...",andreyev-ne-ubiy,мир вам братие и сестры где тут сидение покреп...,1310
3,gost,0,До свидания. Так я буду в надежде получить от ...,andreyev-ne-ubiy,до свидания так я буду в надежде получить от м...,210
4,zaychikov,0,"Позвольте представиться: бывший антрепренер, И...",andreyev-ne-ubiy,позвольте представиться бывший антрепренер ива...,2740

## 3. Get rid of NaNs and 0s

Next I sugest we check the data for NaNs and 0s.

In [ ]:
df_fem.isna().sum() #checking the female df for NaNs

None found! Let us look at the male dataframe.

In [30]:
df_male.isna().sum() #checking the male df for NaNs

ID           0
Gender       0
Text         0
play_name    0
t_clean      2
clean_len    0
dtype: int64

Here are two rows with NaN values in the 't_clean' column. However, the 'Text' values of these rows seem to be filled. Let us check what is going on.

In [27]:
df_male_nans = df_male[df_male.isna().any(axis=1)] #a new df that only contains rows with NaNs from df_male

In [28]:
df_male_nans #see what is there

                ID  Gender     Text              play_name t_clean  clean_len
337          Vrach       0  Fertig.  bulgakov-dni-turbinyh     NaN          0
1116  pervyj_vrach       0    36,1.        mayakovsky-klop     NaN          0

Clearly, the text became NaN after cleaning, because all the characters are non-cyrillic. We left only cyrillic characters in the t_clean column. Latin characters, numbers and punctuation was eliminated.

Are all the clean_len values above 0 in both dataframes? (the .isna() function from above only detects na-values, but not zeros)

In [36]:
df_fem['clean_len'].isin([0]).sum() #cheking if all the clean female text contains at least one word

0

Everything is fine so far.

In [5]:
df_male['clean_len'].isin([0]).sum() #cheking if all the clean male text contains at least one word

14

Let us check the details.

In [9]:
df_male_zeros = df_male[df_male['clean_len'].isin([0])] #a new df that only contains zeroes from df_male

In [10]:
df_male_zeros #see what is there

,ID,Gender,Text,play_name,t_clean,clean_len
189,berte,0,Un cosaque de Platow...\nTres intelligent et b...,bulgakov-vojna-i-mir,,0
223,morel,0,"Capitaine, ils ont de la soupe et du gigot de ...",bulgakov-vojna-i-mir,,0
225,malenkij_maroder,0,"Voyons, pas de betises!",bulgakov-vojna-i-mir,,0
226,ulan,0,"Il a un poignard, lieutenant.",bulgakov-vojna-i-mir,,0
235,boss,0,"Merci, monsieur!",bulgakov-vojna-i-mir,,0
263,voroncov,0,Votre Majesté Impériale!..,bulgakov-poslednie-dni,,0
337,Vrach,0,Fertig.,bulgakov-dni-turbinyh,NaN,0
905,gost_2d,0,C'est une coquette. —,lermontov-strannyj-chelovek,,0
1116,pervyj_vrach,0,"36,1.",mayakovsky-klop,NaN,0
1544,nemtsy,0,Vivat! hoch! hoch!,ostrovsky-dmitrij-samozvanets-i-vasilij-shujskij,,0
1805,v_rozen,0,Es ist Schande.\nSie haben Recht.\nJa.\nIch gl...,pushkin-boris-godunov,,0
1806,nemtsy,0,Hilf Gott!,pushkin-boris-godunov,,0
2283,sluga,0,"'Celenza comanda?\n'Celenza, jé… moua… héhé…\n...",turgenev-vecher-v-sorrente,,0
2284,mr_popelin,0,"Pardon, Monsieur...\nPardon, c'est ici que dem...",turgenev-vecher-v-sorrente,...,0

Here we see similar situation, our NaNs are also here. All the deleted text in non-cyrillic.

The difference is that before we checked for NaNs in all the data frame. However we only checked the column 'clean_len' for zeroes. We have plenty of them in the 'Gender' column.

Let us get rid of all these rows.

In [11]:
df_male = df_male.query('clean_len > 0') #leave rows with clean_len more than 0

In [12]:
df_male['clean_len'].isin([0]).sum() #see if it worked

0

Yup it did!

## 4. Create files for Stylo

I would like to compose two .txt files for each play with all the character speech as a single entity, one file with all the male and another with all the female speech.

The function below extracts speech by gender from each play in .txt format and puts it into a fem or male folder. It takes a df (either df_male or df_fem in our case) and a gender variable in string format.

First, we would need all the play names in order to extract data from our DFs. Then a cycle runs throug the list of play names. There is a query constructed for each play. In the next row this query is used to create a new df out of the one we passed to the function. This new df contains (fe)male speech from a single play. Later all the text is concatenated into a single string and is saved into a txt file, named after the play and gender of the characters we used.

In [45]:
def gender_speech_by_play_to_txt(df, gender):
    
    play_names = df['play_name'].unique()             #unique play names 
    play_names = list(play_names)                     #turn a NumPy array into a list
    
    for idx, name in enumerate(play_names):
        
        #iterate through the play names
        
        query = 'play_name == "' + name + '"'         #create a query
        new_df = df.query(query)                      #new df with text from only one play
        concat_speech = new_df['t_clean'].str.cat()   #all the text into one string
        
        
        #create the file name
        file_name = 'for_stylo/' + gender + '/' + name + '_' + gender + '.txt'
        
        with open(file_name, 'w') as file:
            
            #save text into a .txt
            file.write(concat_speech)

In [42]:
gender_speech_by_play_to_txt(df_fem, 'fem') #run function for the female dataframe

In [43]:
gender_speech_by_play_to_txt(df_male, 'male') ##run function for the male dataframe